.Burger {
    width: 700px;
    margin: auto;
    height: 600px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

/* 宽度<1000 高度>700*/
@media (min-width: 1000px) and (min-height:1200px) {
    .Burger {
        width: 800px;
        height: 850px;
    }
}

/* 宽度<500 高度<401*/
@media (min-width: 500px) and (max-height:801px) {
    .Burger {
        width: 350px;
        height: 400px;
    }
}

@media screen and (max-width: 499px) {
    .Burger {
        width: 250px;
        height: 300px;
    }
}