.Header {
    background-color: #4a3f35;
    padding: 0 20px;
}

.toolbarRoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BurgerLogo {
    height: 50px;
    background-color: white;
    border-radius: 5px;
}

.BurgerLogo img {
    height: 80%;
    padding: 5px 5px;
}

a {
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 499px) {
    .BurgerLogo {
        display: none;
    }
    .toolbarNav {
        display: none;
    }
}

